HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### logs ###
zlogs/
zlogs2/

### volumes ###
infrastructure/docker-compose/volumes/poc1/mysql/
infrastructure/docker-compose/volumes/poc2/mysql/
infrastructure/docker-compose/volumes/poc1/redis/
infrastructure/docker-compose/volumes/poc2/redis/