<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Zona horaria -->
    <property name="LOG_TIMEZONE" value="Europe/Madrid"/>

    <!-- Reglas de conversión para soporte de colores y trazas bonitas -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- Patrón bonito de Spring Boot con colores y zona horaria -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS,${LOG_TIMEZONE}}){faint} %clr(%5p) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"/>

    <!-- Consola con PatternLayout y hora local -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Archivo con LogstashEncoder y hora local -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>zlogs2/bank-api-audit_2.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>zlogs2/bank-api-audit.%d{yyyy-MM-dd}_2.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <timeZone>${LOG_TIMEZONE}</timeZone>
        </encoder>
    </appender>

    <!-- Loggers específicos -->
    <logger name="com.example.bank.controller" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.example.bank.filter" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.example.bank.service" level="INFO" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- Logger raíz -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
